# Virtual environment
.venv/
venv/
ll_env/
.env

# Python
__pycache__/
*.py[cod]

# Database
db.sqlite3
*.sqlite3

# Django
media/

# IDE
.idea/

# Static files
staticfiles/

# Windows
Thumbs.db
Desktop.ini