{% extends 'learning_logs/base.html' %}

{% block page_header %}
    <h1>Search results</h1>
{% endblock page_header %}

{% block content %}
    <ul class="list-group border-bottom pb-2 mb-4">
        <p><h3>Topics: </h3></p>
        {% for topic in topics %}
            <li class="list-group-item border-0">
                <a href="{% url 'learning_logs:topic' topic.id %}">{{ topic.text }}</a>
            </li>
        {% empty %}
            <li class="list-group-item border-0">No topics to display!</li>
        {% endfor %}
    </ul>

    <p><h3>Entries: </h3></p>
    {% for entry in entries %}
        <div class="card mb-3">
            <!-- Card header with timestamp and edit link -->
            <h4 class="card-header">
                {{ entry.date_added|date:'M d, Y H:i' }}
            </h4>
            <!-- Card body with entry text -->
            <div class="card-body">{{ entry.text|linebreaks }}</div>
        </div>
    {% empty %}
        <p>No entries to display!</p>
    {% endfor %}

{% endblock content %}

